<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxh.gateway.auth.mapper.MenuApiMapper">
    <resultMap id="resMap" type="com.hxh.gateway.common.dto.MenuApiDto">
        <id column="id" property="id"/>
        <id column="parent_id" property="parentId"/>
        <id column="name" property="name"/>
        <id column="code" property="code"/>
        <id column="disabled" property="disabled"/>
    </resultMap>
    <select id="listV2" resultMap="resMap">
        select t.*
        from (
             select
                 id,
                 parent_id,
                 `name`,
                 `code`,
                 TRUE AS `disabled`
             from ${menuDbName}
             where
                 del_flag = 0
             order by sort
         ) as t
        UNION ALL
        select
            id,
            menu_id as parent_id,
            `name`,
            `code`,
            FALSE AS `disabled`
        from ${menuApiDbName}
        where
            del_flag = 0
    </select>
</mapper>
